body {
  /*color: #428bca;*/
  padding-top: 15px;
  margin: auto;
  width: 1240px;
}
#logo {
  text-align: center;
}
#input_area {
  margin: auto;
  margin-top: 25px;
  width: 70%;
}
#input_area textarea {
  height: 130px;
  resize: none;
}
.tab-content {
  color: #666666;
}
.tab-box {
  width: 70%;
  margin: auto;
  margin-top: 25px;
}
.intro {
  clear: both;
  margin-top: 25px;
}
.intro label {
  color: #999;
}
.intro .about {
  float: left;
  width: 46%;
}
.intro .func {
  float: right;
  width: 46%;
}
.intro .hl {
  color: #444;
}
.footer {
  font-weight: 300;
  color: #428bca;
  font-family: sans-serif;
  padding: 25px 0;
  clear: both;
  text-align: center;
  font-size: 16px;
}
.label-text {
  alignment-baseline: middle;
  font-size: 14px;
  font-family: "sans-serif";
  fill: #666;
}
.label-line {
  stroke-width: 1;
  stroke: #666;
}
.label-circle {
  fill: #666;
}
.words {
  padding-top: 70px;
  width: 50%;
  float: left;
}
.words .panel {
  float: left;
  width: 100%;
}
span.label {
  margin-right: 5px;
  float: left;
  line-height: 1.2;
  margin-top: 10px;
}
.label-default {
  background: #B5B6BE;
}
